.navbar-container{
    /* background-color: #ffcbf2; */
    display: flex;
    justify-content: space-between;
    margin-left: 75px; 
    margin-right: 75px;   
    padding: 20px;

}

.navbar-links{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}